.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.header {
    background-color: red;
    color: aliceblue;
    padding: 5px;
}

.footer {
    background-color: dimgrey;
    color: aliceblue;
    padding :5px;
    text-align: center;
    font-size: 32px;
}

.menu-right{
    background-color: darkgrey;
    height: 500px;
    padding: 70px;
}

.menu-left{
    background-color: darkgrey;
    height: 500px;
}
nav ul {
    padding: 10px;
    height: 10px;
}

li {
    display: inline;
    margin: 5px;
}


/*.container > {*/
/*    border: 1px solid #fff;*/
/*    padding: 10px;*/
/*    text-align: center;*/
/*}*/

/*.container {*/
/*    display: grid;*/
/*    grid-template-areas:*/
/*            'header header header header header header'*/
/*            'menuLeft content content content content menuRight'*/
/*            'footer footer footer footer footer footer';*/
/*}*/

@media only screen and (max-width: 500px){
    .header {
        display: grid;
        grid-template-areas:
                'header header header header header header'
                'content content content content content content'
                'footer footer footer footer footer footer';
    }
}

/*.item1 {grid-area: header}*/
/*.item2 {grid-area: menu-left}*/
/*.item3 {grid-area: content}*/
/*.item4 {grid-area: menu-right}*/
/*.item5 {grid-area: footer}*/

.item1-1 {
    margin: 10px;
    float: left;
    font-size: 20px;
}

.item1-2 {
    margin: 10px;
    float: right;
    font-size: 20px;
}

/*.item1 {*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

/*.item2 {*/
/*    width: 200px;*/
/*    background-color: lightgrey;*/
/*}*/

/*.item2-1 {*/
/*    color: blue;*/

/*}*/

/*.item3 {*/
/*    background-color: white;*/
/*}*/

/*.item4 {*/
/*    width: 200px;*/
/*    background-color: lightgrey;*/
/*}*/

.item4-1 {
    text-align: center;
    width: 200px;
    height: 150px;
    font-size: 20px;
    margin: 20px;
    border-style: ridge;
    padding: 50px;
}

/*.item5 {*/
/*    font-size: 20px;*/
/*    background-color: gray;*/
/*}*/

p {
    font-size: 20px;
    border-style: hidden hidden ridge hidden;
    text-align: justify;
}